<% provide(:title, "Users Administration") %>
<h1>Users List</h1>

<table class="table table-bordered">
	<tr>
		<th>Username</th>
		<th>Name</th>
		<th>Email</th>
		<th>Operations</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.username %></td>
		<td><%= user.full_name %></td>
		<td><%= user.email %></td>
		<td>
			<%= link_to root_path, class: "btn btn-default btn-sm" do %>
				<li class="glyphicon glyphicon-eye-open"></li>
			<% end %>
			<%= link_to root_path, class: "btn btn-default btn-sm" do %>
				<li class="glyphicon glyphicon-edit"></li>
			<% end %>
			<%= link_to root_path, class: "btn btn-danger btn-sm" do %>
				<li class="glyphicon glyphicon-trash"></li>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
<%= will_paginate %>
<div>
	<%= link_to "New user", root_path, class: "btn btn-primary" %>
</div>